/* Tag selectors */
h1 {
    color: #04331a;
    font-size: 50px;
}
img:hover{
    background-color: gold;
}
/* Class selectors*/
.burger {
    background-color: green;
}
.circular {
    border-radius: 100%;
}
.sandwich {
    background-color: red;
}
.circular {
    border-radius: 100%;
}
/* ID selectors */
#heading {
    color: blue;
}